<!--<link rel="stylesheet" href="../styles/daw.css">-->
        <record></record>
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-6">-->
<!--<button class="btn btn-primary animated slideInLeft" ng-click="$ctrl.play()">play</button>-->
<!--<button class="btn btn-primary animated slideInRight" ng-click="$ctrl.stop()">stop</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<button ng-click=""></button>-->
<!--<div class="row">-->

<!--<div ng-click="$ctrl.play1()"class="col-sm-2 box" style="background-color: #00aaff"></div>-->
<!--<div ng-click="$ctrl.play2()" class="col-sm-2 box" style="background-color: #00ee00 "></div>-->
<!--<div ng-click="$ctrl.play3()" class="col-sm-2 box" style="background-color: #1e232f"></div>-->
<!--<div ng-click="$ctrl.play4()" class="col-sm-2 box" style="background-color: #2e6da4 "></div>-->
<!--<div ng-click="$ctrl.play5()" class="col-sm-2 box" style="background-color: #5d4037"></div>-->
<!--<div ng-click="$ctrl.play6()" class="col-sm-2 box" style="background-color: #8a1a00 "></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-2 box" style="background-color: #00ee00"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #00E676 "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #1e232f"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #2a2a2a "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #5c6bc0"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #1de9b6 "></div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-sm-2 box" style="background-color: #00aaff"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #00ee00 "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #1e232f"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #2e6da4 "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #5d4037"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #8a1a00 "></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-2 box" style="background-color: #00aaff"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #00ee00 "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #1e232f"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #2e6da4 "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #5d4037"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #8a1a00 "></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-2 box" style="background-color: #00aaff"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #00ee00 "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #1e232f"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #2e6da4 "></div>-->
<!--<div class="col-sm-2 box" style="background-color: #5d4037"></div>-->
<!--<div class="col-sm-2 box" style="background-color: #8a1a00 "></div>-->
<!--</div>-->