<link rel="stylesheet" href="../styles/login.css">

<div class="card">
      <div class="card-block">
            <div class="md-form">
                  <input type="text"  class="form-control" ng-model="$ctrl.username">
                  <label for="form2">Username</label>
            </div>
            <div class="md-form">
                  <input type="password" id="form4" class="form-control"ng-model="$ctrl.password">
                  <label for="form4">Password</label>
            </div>
            <div class="text-center">
                  <button class="btn btn-warning">Login</button>
            </div>
      </div>
</div>
